/*CSS perfectionist test*/

@media screen {
  .foo {
    -webkit-transform: scale(0); /*commment*/
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
  }
}

.bar {
  display: flex;
}

/*test*/

@media some {
  .foo {
    display: block;
  }
}

//ceshi
@media foo {
  .bar {
    display: inline-block;
  }
}

/**/

[
/**/

style*="PURPLE"
/**/

i
/**/

] {/**/
  color/**/
  : red;
  /**/
}

target:not(foo1, :matches(foo2, .Case3, bar1), bar2) {
  color: rgb(6, 7, 8);
}

target:not(foo1, :not(foo2, .Case4, bar1), bar2) {
  color: rgb(9, 10, 11);
}

target:not(foo1, :matches(foo2, :matches(foo3, .Case5, bar1), bar2), bar3) {
  color: rgb(12, 13, 14);
}

@import url(import-p-green.css) screen and (max-width:800px) ;

.btn-linear-gradient(@startColor: #555, @endColor: #333) {
  filter: e(%("progid:DXImageTransform.Microsoft.Gradient(StartColorStr='%d',EndColorStr='%d')", argb(@startColor), argb(@endColor)));
  background: linear-gradient(to bottom, @startColor, @endColor);
}

.font_face(@fontname, @url: "/css/fonts") {
  font-family: @fontname;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;

  @font-face {
    font-family: @fontname;
    src: url("@{url}/@{fontname}.eot");
    src: url("@{url}/@{fontname}.eot?#iefix") format("embedded-opentype"),
             url("@{url}/@{fontname}.woff") format("woff"),
             url("@{url}/@{fontname}.ttf") format("truetype"),
             url("@{url}/@{fontname}.svg#iconfont") format("svg");
  }
}

.icon-shareto(@color: #000,
@bgColor: #fff) {
  .font_face("shareto")background-color: @bgColor;
  border-radius: 99em;
  line-height: 110px;
  font-weight: normal;
  font-style: normal;
  font-size: 80px;
  display: block;
  color: @color;
  height: 110px;
  width: calc(#{$content-width} - (#{$spacing-unit} * 2));
}

/*li:before {
display: none;
}*/

:root {
  //Mainthemecolor--color: red;
}

.foo, .foo, .foo, .foo, .foo, .foo, .foo, .foo, .foo, .foo {
  display: inline-block, block, block, block, block, block;
}

.bar {
  display: bazbazbazbazbazbazbazbazbazbazbazbazbazbazbazbazbazbazbazbazbazbazbazbazbazb,
             azbazbazbazbaz;
}
